{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}


    <div  class="row wrapper fadeInDown">
        <div class="col-lg-6 col-sm-12" id="formContent">

            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <svg   id="icon"class="c-icon">

                <use xlink:href="{{asset('assets/coreui/icons/sprites/flag.svg')}}#full"></use>
                </svg>
            </div>
            <div class="card-header">
                <h2> Login </h2>
            </div>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %} 
            <!-- Login Form --> 
            {{ form_start(loginForm, {'method': 'POST', 'action': path('app_login')}) }}

            <div class="card-body">

                <div class="form-group">
                    <div class="input-group">
                        {#                        <input class="form-control" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>#}




                        <div class="input-group-append"><span class="input-group-text">
                                <svg class="c-icon">
                                <use xlink:href="{{ asset('assets/coreui/icons/sprites/free.svg')}}#cil-envelope-open"></use>
                                </svg></span></div>

                        {{ form_widget(loginForm.email , {'attr':{'value':last_username, 'class':'form-control'} }) }} 



                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-append"><span class="input-group-text">
                                <svg class="c-icon">
                                <use xlink:href="{{ asset('assets/coreui/icons/sprites/free.svg')}}#cil-lock-locked"></use>
                                </svg></span></div>
                                {{ form_widget(loginForm.password , {'attr':{'value': '', 'class':'form-control'} }) }} 

                    </div>
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                       >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html
            
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #} 
                <div class="form-group form-actions">
                    <button class="btn btn-block btn-primary  " type="submit">Submit</button>
                </div>

            </div> 
            {{ form_end(loginForm) }}

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="{{ path('app_forgot_password_request')}}">Forgot Password?</a>
            </div>

        </div>
    </div>



{% endblock %}
