{% extends 'base.html.twig' %}

{% trans_default_domain 'trans' %}
{% block title %}  {{ 'password.reset'|trans }}{% endblock %} 

{% block body %}


    <div  class="row wrapper fadeInDown">
        <div class="col-lg-6 col-sm-12" id="formContent">

            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <svg   id="icon"class="c-icon">

                <use xlink:href="{{asset('assets/coreui/icons/sprites/flag.svg')}}#full"></use>
                </svg>
            </div>
            <div class="card-header">
                <h2> {{ 'password.reset'|trans }} </h2>
            </div>
            {% for flashError in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}
            {#            {% if error %}#}
            {#                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
            {#            {% endif %} #}
            <!-- Reset Form --> 

            {{ form_start(requestForm) }}
            <small>
                {{ 'password.get_reset_mail_page_description'|trans }}
            </small>


            <div class="card-body">

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-append"><span class="input-group-text">
                                <svg class="c-icon">
                                <use xlink:href="{{ asset('assets/coreui/icons/sprites/free.svg')}}#cil-envelope-open"></use>
                                </svg></span></div>

                        {{ form_widget(requestForm.email , {'attr':{'value':'', 'class':'form-control'} }) }} 
                    </div>
                </div> 
                <div class="form-group form-actions">
                    <button class="btn btn-block btn-primary" type="submit">

                        {{ 'password.get_password_resetLink'|trans }}

                    </button>
                </div>

            </div>  

            {{ form_end(requestForm) }}

        </div>
    </div>



{% endblock %}
