<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}

            <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css">
            <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.bundle.min.js"></script>
            <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@2.0.0-beta.3/css/all.min.css">
            <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@2.0.0-beta.3/css/free.min.css">
            <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@2.0.0-beta.3/css/brand.min.css">
            <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@2.0.0-beta.3/css/flag.min.css">
            <link href="{{ asset('assets/coreui/style.css') }}" rel="stylesheet" />
            <link href="{{ asset('assets/coreui/coreui-chartjs.css') }}" rel="stylesheet" />

        {% endblock %} 

        {% block javascripts %}
            <script src="{{ asset('assets/coreui/analytics.js') }}"></script>
        {% endblock %}

        <meta name="robots" content="noindex">

        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-118965717-1');
        </script><style type="text/css">/* Chart.js */
            /*
             * DOM element rendering detection
             * https://davidwalsh.name/detect-node-insertion
             */
            @keyframes chartjs-render-animation {
                from { opacity: 0.99; }
                to { opacity: 1; }
            }

            .chartjs-render-monitor {
                animation: chartjs-render-animation 0.001s;
            }

            /*
             * DOM element resizing detection
             * https://github.com/marcj/css-element-queries
             */
            .chartjs-size-monitor,
            .chartjs-size-monitor-expand,
            .chartjs-size-monitor-shrink {
                position: absolute;
                direction: ltr;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                overflow: hidden;
                pointer-events: none;
                visibility: hidden;
                z-index: -1;
            }

            .chartjs-size-monitor-expand > div {
                position: absolute;
                width: 1000000px;
                height: 1000000px;
                left: 0;
                top: 0;
            }

            .chartjs-size-monitor-shrink > div {
                position: absolute;
                width: 200%;
                height: 200%;
                left: 0;
                top: 0;
            }
        </style> 
    </head> 
    <body class="c-app" data-new-gr-c-s-check-loaded="14.1020.0" data-gr-ext-installed="">
        {% block header %}
            {% if app.user %}
                {{ include('admin/templates/sidebar.html.twig') }}
            {% endif %} 
        {% endblock %}
        <div class="c-wrapper c-fixed-components"> 
            {% if app.user %}
                {{ include('admin/templates/header.html.twig') }}
            {% endif %} 

            <main class="c-main">
                <div class="container-fluid">
                    <div class="fade-in"> 
                        {% block body %}




                        {% endblock %}
                    </div>
                </div>
            </main> 
            <div class="c-body">
                <footer class="c-footer">
                    <div><a href="https://coreui.io/">CoreUI</a> © 2020 creativeLabs.</div>
                    <div class="ml-auto">Powered by&nbsp;<a href="https://coreui.io/">CoreUI</a></div>
                </footer>
            </div>
        </div>
        <script src="assets/coreui/coreui.bundle.min.js"></script>
        <!--[if IE]><!-->
        <script src="assets/coreui/svgxuse.min.js"></script>
        <!--<![endif]-->

        <script src="assets/coreui/coreui-chartjs.bundle.js"></script>
        <script src="assets/coreui/coreui-utils.js"></script>
        <script src="assets/coreui/main.js"></script>


    </body>
</html>
